@import "../Common/Utils/ScssConstants.scss";

.inventory-top-wrapper {
  background: $inventory-background-color;
  color: $text-color;
  height: 100%;

  h1 {
    font-size: 36px;
    font-weight: 500;
    line-height: 54px;
    padding: 16px 20px;
  }

  .widgets-wrapper {
    display: flex;
    align-items: center;
    gap: 16px;
    width: 100%;
    padding: 16px;
    box-sizing: border-box;
  }
  .inventory-table-wrapper {
    padding: 16px;
    height: calc(100% - 312px);
    overflow-y: auto;
  }
}
