

@import '../../Common/Utils/ScssConstants.scss';

.nabar-wrapper{
    height: 65px;
    padding: 16px 20px;
    font-size: 13px;
    box-sizing: border-box;
    border-bottom: 1px solid $border-color;

    display: flex;
    align-items: center ;
    flex-direction: row-reverse;

    .logout-wrap{
        height: 100%;
        width: 25px;
        border-left: 1px solid $border-color;
        display: flex;
        justify-content: right;
        align-items: center;
        >svg{
            cursor: pointer;
            height: 16px;
            width: 16px;
        }
    }

    .switch-wrapper{
        width: 150px;
        display: flex;
        align-items: center;
        gap: 10px;
    }

}